.avatar-circular{
  width: 200px;
  height: 200px;
  background-image: url('../images/adam_gol.jpg');
  background-size: cover;
  display: block;
}

.floatLeft {
	float: left;
	margin-right: 15px;
}

.floatRight {
	float: right;
	margin-left: 15px;
}

.clearContainer {
	overflow: auto;
	width: 100%;
	margin-bottom: 30px;
}

h3 a {
	font-weight: 700;
	color: #888;
}

h3 a:hover {
	color: #555;
	text-decoration: underline;
}

img.imgHover {
    opacity: 1.0;
} 

img:hover.imgHover {
    opacity: 0.6;
} 

img.confLogo {
	width: 230px;
}

img.yoLunchScreen {
	width: 180px;
}

img.photo img.photoActive {
	border-radius: 5px; 
	border: 2px solid #8E8E8E;
}

img.photoActive:hover {
	border: 2px solid #666;
	opacity: 0.8;
}
