@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 400;
  src: local('Corben Regular'), local('Corben-Regular'), url(http://fonts.gstatic.com/s/corben/v8/EvCyyDNpF00ipP8gU9sM8g.woff2) format('woff2'), url(http://fonts.gstatic.com/s/corben/v8/aTjzBnce-6l9sMpae8_abg.woff) format('woff');
}
